<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LocFit - Equipements</title>
    <link rel="stylesheet" href="/css/materiel.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>

    <%- include('header'); -%>

    <section class="search-material">
        <input type="text" placeholder="Rechercher du matériel">
        <button><img src="/img/chercher.png" alt="Rechercher"></button>
    </section>

    <section class="material-grid">
        <% materiels.forEach((materiel) => { %>
            <a href="/product/<%= materiel.ID %>">
                <img src="/img/equipement<%= materiel.ID %>.avif" alt="<%= materiel.Nom %>" id="velimg">
                <div class="material-info">
                    <h3><%= materiel.Nom %></h3>
                    <p><%= materiel.Description %></p>
                    <p>Prix : <%= materiel.Prix %> €</p>
                    <p><%= materiel.Disponibilité %></p>
                </div>
            </a>
        <% }); %>
    </section>


    <%- include('footer'); -%>

</body>
</html>