<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produit - <%= produit.Nom %></title>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    
    <%- include('header'); -%>
    <main>
        <% console.log(produit.image); %>
        <section class="product-detail">

            <div class="product-image">
                <img src="/img/equipement<%= produit.ID %>.avif" alt="<%= produit.Nom %>">
            </div>
            
            
            <div class="product-header">
                <h1 id="titreprdt"><%= produit.Nom %></h1>
                <p id="restant"><%= produit.stock %> Disponibles</p>
                <p class="price" id="prixprdt"><%= produit.Prix %> € <span>/ jour</span></p>
                <button class="btnprdt" id="btnprdt">Ajouter au panier</button>
            </div>
            
            <div class="product-description">
                <p><%= produit.Description %></p>
            </div>

            <div class="product-muscles">
                <h2>Muscles sollicités :</h2>
                <ul>
                    <li><strong>Quadriceps :</strong> Les muscles situés à l'avant des cuisses sont fortement engagés lors du pédalage.</li>
                    <li><strong>Ischio-jambiers :</strong> Les muscles à l'arrière des cuisses travaillent pour la flexion du genou pendant le cycle de pédalage.</li>
                    <li><strong>Mollets :</strong> Les muscles des mollets sont sollicités à chaque poussée et remontée de la pédale.</li>
                    <li><strong>Fessiers :</strong> Les pédales engagent les muscles des fesses, surtout à haute résistance ou en position debout.</li>
                    <li><strong>Abdominaux :</strong> Les muscles du tronc sont sollicités pour stabiliser le corps en particulier si vous pédalez en position inclinée.</li>
                    <li><strong>Lombaires :</strong> Les muscles du bas du dos aident à maintenir une posture stable.</li>
                    <li><strong>Haut du corps (secondairement) :</strong> Les bras et les épaules peuvent également être engagés.</li>
                </ul>
            </div>
        </section>
    </main>

    <%- include('footer'); -%>

</body>
</html>
